/*-----------------------------------------------------------------------------
-----------------GLOBAL--------------------------------------------------------
-----------------------------------------------------------------------------*/
body{
    margin: 0 0 245px;
}
html {
    font-family: 'Work Sans', sans-serif;
    position: relative;
    min-height: 100%;
}
h1 {
    margin: 0;
}
p{
    margin: 0;
}
a{
    color: #fff;
    text-decoration: none;
}
.hero{
    height: 590px;
    width: 100%;
    position: relative;
}
.hero img{
    
    width: 100%;
    max-height: 590px;
}
main{
    padding: 15px;
}
/*------------------------------------------------------------------------------
------------------HEADER--------------------------------------------------------
------------------------------------------------------------------------------*/
header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    color: #fff;
    height: 85px;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
}
    /*----------------------------
    ---------------LOGO-----------
    ----------------------------*/
    .logo{
        float: left;
        width: 300px;
        margin: 25px 0 0 45px;
    }
    .logo img{
        width: 40px;
        height: 40px; 
        float: left;
        border: solid 1px #fff;
        border-radius: 100px;
    }
    .logo h1{
        float: left;
        margin-left: 10px; 
    }
    .logo:hover img, 
    .logo:hover h1 {
        color: lightblue;
        border-color: lightblue;
    }
    /*---------------------------------
    ------------MAIN-NAVIGATION--------
    ----------------------------------*/
    .main-nav{
        color: #fff;
        width: 400px;
        float: right;
        padding: 40px 0 0 0;
        z-index: 1;
    }
    .main-nav a {
        padding: 14px 16px;
    }
    .main-nav a:hover{
        color: lightblue;  
    }
    .active {
        color:lightblue;
    }
/*------------------------------------------------------------------------------------
-----------------START PAGE-----------------------------------------------------------
------------------------------------------------------------------------------------*/
.fullscreen-video-wrap{
    height: 100vh;
    display: flex;
    align-items: center;
}
.video-wrap{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-wrap video{
    min-width: 100%;
    min-height: 100%;
}

/*-----------------------------------------------------------------------------------
------------------ABOUT ME-----------------------------------------------------------
-----------------------------------------------------------------------------------*/

.profile-image img{
    margin: 0px 15px 5px 0px;
    float: left;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid 8px lightblue;
}
h2 {
    width: 100%;
    float: left;
    color: #023b78;
}

.fa-facebook-square{
    color: #fff;
}
/*-----------------------------------------------------------------------------------
-----------------PORTFOLIO-----------------------------------------------------------
-----------------------------------------------------------------------------------*/
.port-work-wrapper{
    height: 80vh;
}
.port-work{
    float: left;
    background-color: gray;
    height: 200px;
    width: 240px;
    margin: 10px;
    display: block;
}
/*------------------------------------------------------------------------------------
-----------------FOOTER---------------------------------------------------------------
------------------------------------------------------------------------------------*/
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 245px;
    padding: 0 0 0 0;
    background-color:#000000;
    color: #fff;
    width: 100%;
}
.footer-links{
    font-size: 14px; 
    padding: 10px 0 20px 0;
    text-align: center;
}
.footer-tag{
    font-size: 22px;
    padding: 20px;
    text-align: center;
}

.footer-links a{
    margin: 0 25px 0 0;

}
.footer-copyright{
    
    text-align: center;
    font-size: 10px;
    padding: 15px;
}
.footer-social{
    text-align: center;
}

.footer-social .fab{
    margin: 0 10px 0 0;
}
.footer-links .fab:hover,
.footer-links a:hover{
    color: lightblue;
}
/*------------------------------------------------------------------------------------
-----------------CONTACT PAGE---------------------------------------------------------
------------------------------------------------------------------------------------*/
#contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: hsl(209, 30%, 59%);
}
#contact h2{
    text-align: center;
}
    /*--------------------------------
    ----------CONTACT FORM------------
    ---------------------------------*/
    #contact form{
        width: 80%;
    }

    .form-group{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .form-group input,
    .form-group textarea{
        width: 40%;
        background-color: hsl(209, 30%, 59%);

        /*flex: 1 1 auto;*/
        font-size: 16px;
        margin: 10 0px;
        padding: 8px 8px 8px 10px;
        outline: none; 
        border-width: 0 0 2px;
    }
    .form-group .subject {
        flex: 1 1 auto;
    }
    .form-group textarea{
        flex: 1 1 auto;
        background-color: hsl(209, 30%, 59%);
        border-color: gray;
        resize: none;
    }
    .form-group input[type="submit"]{
        border: 1px solid #fff;
        border-radius: 5px;
    }
    #contact input:focus, 
    #contact textarea:focus{
        outline: none;
        border-bottom: 2px solid #023b78;
    }
    #con
    /*-----------------------------------
    ----------OVERLAY--------------------
    -----------------------------------*/
    .overlay{
        position: absolute;
        top: 80;
        bottom: 0;
        left: 100%;
        right: 0;
        overflow: hidden;
        width: 0;
        height: 400px;
        transition: .5s ease;
        background-color: #023b78;
    }
    .hero:hover .overlay {
        width: 30%;
        left: 0;
    }
    .overlay-title {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 10%;
        left: 12%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    .overlay-phone {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 20%;
        left: 40%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }
    .overlay-email{
        color: white;
        font-size: 20px;
        position: absolute;
        top: 30%;
        left: 48%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        white-space: nowrap;
    }

/*
.contact-info-image{
    position: relative;
    top: 80;
	width: 400px;
	height: 400px;
	float: right;
	margin: 4px;
	background-size: 100%;
	background-position: center;
	transition: 0.5s;
	overflow: hidden;

}
.contact-info-image:hover {
	background-size: 110%;
}
.contact-info-image:before {
	position: absolute;
	top: 0 ;
	bottom: 0;
	left: 0;
	right: 0;
	transform: translateX(
		90%
	); /*use transform:translateY(100%); to remove footer
	background-color: rgba(0, 0, 0, 0.3);
	color: #fff;
	padding: 0 8px;
	content: attr(data-title);
	transition: 0.5s 0.1s;
	color: #fff;
	font-weight: bold;
	font-size: 1.5em;
}

.contact-info-image:after {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	padding: 8px;
    content: attr(data-text);
	transition: 0.5s;
	padding-top: 2em;
	margin-top: 8px;
	transform: translateX(100%);
	opacity: 0;
}

.contact-info-image:hover:after {
	transform: translateY(0);
	transition: 0.5s 0.1s;
	opacity: 1;
}
.contact-info-image:hover:before {
	transform: translateY(0);
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.6);
	transition: 0.5s;
}

*/

